@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  line-height: 1;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  font-family: "Inter", sans-serif;
  grid-template-columns: 280px 1fr;
}
